<div class="card card-body">
  <h3 class="text-center">BLOG IDEA</h3>
  <form action="/blogs" method="post">
    <div class="form-group">
      <label for="owner">owner</label>
      <input type="text" class="form-control" name="owner" required>
    </div>
    <div class="form-group">
      <label for="title"> blog title</label>
      <input type="text" class="form-control" name="title" required>
    </div>
    <div class="form-group">
      <label for="title">Details</label>
      <textarea type="text" class="form-control" name="details" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>