<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ALL-BLOG</title>
</head>
<body class="bodyB">
  {{#each eblog}}
<div class="card card-body mb-2">
  <h5>@<i>{{usern}}</i></h5>
  <br>
  <p>{{details}}</p>
</div>

<br> 
{{else}}
<p>No Blogs listed</p>
{{/each}}
</body>
</html>