<!-- begging of the footer -->
<footer class="page-footer blue center-on-small-only footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 col-sm-4">
				<div style="text-align: center">
					<h5 class="title">Address &amp; Contacts</h5>
					<address>
						Brooklyn NY
						<br> United States of America
						<br>
						<a href="tel:5164067205">
							<button class="btn btn-danger">
								<i class="fa fa-phone fa-lg"></i>
							</button>
						</a>
						<a href="tel:5164067205">
							<button class="btn btn-primary">
								<i class="fa fa-fax fa-lg"></i>
							</button>
						</a>
						<a href="mailto:kb2232@nyu.edu">
							<button class="btn btn-secondary">
								<i class="fa fa-envelope fa-lg"></i>
							</button>
						</a>
					</address>
				</div>
			</div>
			<!--first column-->
			<div class="col-4 col-sm-4 align-self-center text-center">
				<h5 class="title">Links</h5>
				{{#if user}}
				<a href="/blogs">See Blog</a>
				<br>
				<a href="/blogs/add">Add Blog</a>
				{{else}}
				<a href="/users/login" class="nav-link">Login</a>
				<a href="/users/register" class="nav-link">Register</a>
				{{/if}}
			</div>
			<!--end first column-->
			<div class="col-xs-4 col-sm-4">
				<div style="text-align: center">
					<h5 class="title">Social Media Sites</h5>
					<!--Google +-->
					<a href="http://google.com/+">
						<button type="button" class="btn btn-gplus btn-danger">
							<i class="fa fa-google-plus left"></i>
							Google +
						</button>
					</a>
					<!--facebook-->
					<a href="http://facebook.com">
						<button type="button" class="btn btn-fb btn-primary">
							<i class="fa fa-facebook left"></i>
							Facebook
						</button>
					</a>
					<br>
					<br>
					<!--Linkedin-->
					<a href="http://linkedin.com">
						<button type="button" class="btn btn-li btn1">
							<i class="fa fa-linkedin left"></i>
							Linkedin
						</button>
					</a>
					<!--youtube-->
					<a href="http://youtube.com">
						<button type="button" class="btn btn-yt btn2">
							<i class="fa fa-youtube left"></i>
							Youtube
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--copyright-->
	<div class="footer-copyright offset-1">
		<div class="container-fluid">
			© 2018 Copyright:
			<a href="https://www.linkedin.com/in/kb2232cpp/">linkedIn.com</a>
		</div>
	</div>
	<!--end copyright-->
</footer>
<!-- end of the footer -->