<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HOME</title>
</head>

<body>
  <div class="container">
    <div class="row text-center">
      {{#if user}}
      <div class="col-md-12 text-center">
        <p>
          Add your blogs by clicking the above
          <b>ADD</b> button.
          <br>You can view all blogs by clicking the
          <b>BLOG</b> button.
        </p>
      </div>
      {{else}} {{title}} {{/if}}
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Blog Notice!!!
          </div>
          <div class="card-body">
            <h5 class="card-title">User's Responsibilies</h5>
            <p class="card-text">
              This is an Educational and Constructive blog site that is intended for users to discuss current and new topics in our society. Bloggers can also help one-another in difficult subjects such as math and physics. Bloggers will instantly be blocked and removed from posting if he or she uses the site to promote violence, cheating, or any other inappropriate instances. 
            </p>
            {{#if user}}
            <a class="btn btn-primary btn-lg" href="/users/login" role="button">Login</a>
            {{else}}

            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-success" id="pogGreen">Green</button>
        <br>
        <div>
          <p class="h2 text-center left" id="pogTextg">Kunle
            <br>Blog!!
            <br>Blog!!
            <br>Blog!!</p>
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn btn-warning" id="pogOrange">Orange</button>
        <br>
        <div>
          <p class="h2 text-center left" id="pogTexto">Kunle
            <br>Blog!!
            <br>Blog!!
            <br>Blog!!</p>
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn pnkb" id="pogPink">Pink</button>
        <br>
        <div>
          <p class="h2 text-center left" id="pogTextp">Kunle
            <br>Blog!!
            <br>Blog!!
            <br>Blog!!</p>
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn rnkb" id="pogRed">Red</button>
        <br>
        <div>
          <p class="h2 text-center left" id="pogTextr">Kunle
            <br>Blog!!
            <br>Blog!!
            <br>Blog!!</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <h3 class="title text-center">CHEMISTRY</h3>
        <img src="/img/chem.jpeg" alt="chm" class="img-fluid" width="150%" height="150%">
      </div>
      <div class="col-md-3">
        <h3 class="title text-center">COMPUTER SCIENCE</h3>
        <img src="/img/cs.png" alt="cs" class="img-fluid" width="150%" height="150%">
      </div>
      <div class="col-md-3 img-fluid">
        <h3 class="title text-center">MATH</h3>
        <img src="/img/math.png" alt="math" class="img-fluid" width="150%" height="150%">
      </div>
      <div class="col-md-3 img-fluid">
        <h3 class="title text-center">PHYSICS</h3>
        <img src="/img/phy.png" alt="phy" class="img-fluid" width="150%" height="150%">
      </div>
    </div>
  </div>
  <hr>
</body>

</html>