<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HOME</title>
</head>

<body>
  <div class="container">
    <div class="row text-center">
      {{#if user}}
      <div class="col-md-12 text-center">
        <p>
          Add your blogs by clicking the above
          <b>ADD</b> button.
          <br>You can view all blogs by clicking the
          <b>BLOG</b> button.
        </p>
      </div>
      {{else}} {{title}} {{/if}}
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-success" id="pogGreen">Green</button>
        &nbsp; &nbsp;
        <button class="btn btn-warning" id="pogOrange">Orange</button>
        &nbsp; &nbsp; &nbsp;
        <button class="btn pnkb" id="pogPink">Pink</button>
        <br>
        <div>
          <p class="h2 text-center" width="420" height="360"  id="pogText">Kunle<br>Blog!!<br>Blog!!<br>Blog!!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 img-fluid">
        <h3 class="title text-center">CHEMISTRY</h3>
        <img src="/img/chem.jpeg" alt="chm">
      </div>
      <div class="col-md-3 img-fluid">
        <h3 class="title text-center">COMPUTER SCIENCE</h3>
        <img src="/img/cs.png" alt="cs">
      </div>
      <div class="col-md-3 img-fluid">
        <h3 class="title text-center">MATH</h3>
        <img src="/img/math.png" alt="math">
      </div>
      <div class="col-md-3 img-fluid">
        <h3 class="title text-center">PHYSICS</h3>
        <img src="/img/phy.png" alt="phy">
      </div>
    </div>
  </div>
</body>

</html>