nav:hover {
  background-color: rgb(0, 255, 170);
}
footer:hover {
  background-color: rgb(0, 255, 170);
}
.a1:hover {
  background-color: yellow;
}
.login {
  background-color: orange;
}
.btn1 {
  background-color: dodgerblue;
}
.btn2 {
  background-color: rgb(240, 3, 3);
}
.pnkb {
	color:black;
	background-color: #ff00aaef;
	border-color: #ff00aaef;
  }
.rnkb {
    color:black;
    background-color: #f70411ef;
    border-color: #ff0000f3;
    }
.border 
{
    border: 3px solid black;
}
.bodyB 
{
  background-color: yellow;
}
.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}